body {
  background-color: #48CFAD;
  color: #FFF;
}

#main-text {
    text-align: center;
}

p {
    font-size: 1.3em;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

#bedfords {
  width: 25%;
}

figcaption {
    font-size: 1.1em;
    font-style: italic;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #967ADC;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #FFF;
    font-size: 1.2em;
    text-align: center;
    padding: 0.4em 1em;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #48CFAD;
  color: #967ADC;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}



.social {
  color: #967ADC;
  padding: 1em;
  font-size: 2em;
/*   width: 2px; */
  text-align: center;
  text-decoration: none;
  margin: 2em 1em;
}


